<div class="row">
    <input type="hidden" th:field="*{id}" th:value="${address.id}"/>

    <div class="row">
        <div class="col-md-3 form-group">
            <label th:text="#{person.gender}">Gender</label>

            <br/>

            <label class="radio-inline" th:each="gender : ${T(org.addressbook.persistence.domain.Gender).values()}">
                <input type="radio" th:field="*{person.gender}" th:disabled="${readOnly}" th:value="${gender}"/>
                <span th:text="#{${'gender.' + gender}}"></span>
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label th:text="#{person.firstName}">First Name</label>
            <input type="text" th:field="*{person.firstName}" class="form-control" th:value="*{person.firstName}"
                   th:disabled="${readOnly}"/>
        </div>

        <div class="col-md-6 form-group">
            <label th:text="#{person.lastName}">Last Name</label>
            <input type="text" th:field="*{person.lastName}" class="form-control" th:value="*{person.lastName}"
                   th:disabled="${readOnly}"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label th:text="#{person.companyName}">Company Name</label>
            <input type="text" th:field="*{person.companyName}" class="form-control" th:value="*{person.companyName}"
                   th:disabled="${readOnly}"/>
        </div>

        <div class="col-md-6 form-group">
            <label th:text="#{person.email}">Email</label>
            <input type="text" th:field="*{person.email}" class="form-control" th:value="*{person.email}"
                   maxlength="255" th:disabled="${readOnly}"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label th:text="#{address.street1}">Postal Code</label>
            <input type="text" th:field="*{street1}" class="form-control" th:value="*{street1}"
                   th:disabled="${readOnly}"/>
        </div>

        <div class="col-md-6 form-group">
            <label th:text="#{address.street2}">Postal Code</label>
            <input type="text" th:field="*{street2}" class="form-control" th:value="*{street2}"
                   th:disabled="${readOnly}"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <label th:text="#{address.postalCode}">Postal Code</label>
            <input type="text" th:field="*{postalCode}" class="form-control" th:value="*{postalCode}"
                   th:disabled="${readOnly}"/>
        </div>

        <div class="col-md-6 form-group">
            <label th:text="#{address.country}">Country</label>
            <select class="form-control" th:disabled="${readOnly}" th:field="*{country}">
                <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}"></option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 form-group">
            <button type="button" class="btn btn-default" data-duplicate-add="phone" th:disabled="${readOnly}"
                    th:text="#{address.addPhoneNumber.button}">Add phone number
            </button>
        </div>
    </div>

    <div class="row">
        <div data-duplicate="phone" class="phone-number-tmpl" th:each="phone : ${address.phones}">
            <div class="col-md-6 form-group">
                <div class="input-group">
                    <input type="text" name="phoneNumber[]" class="form-control" th:disabled="${readOnly}"
                           th:value="${phone.phoneNumber}"/>
                    <span class="input-group-btn">
                         <button type="button" class="btn btn-default" data-duplicate-remove="phone">-</button>
                    </span>
                </div>
            </div>
        </div>

        <div data-duplicate="phone" class="phone-number-tmpl" th:if="${!readOnly}">
            <div class="col-md-6 form-group">
                <div class="input-group">
                    <input type="text" name="phoneNumber[]" class="form-control"/>
                    <span class="input-group-btn">
                         <button type="button" class="btn btn-default" data-duplicate-remove="phone">-</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#addressForm').livequery('.phone-number-tmpl', function (element) {
            $(element).find('input[name="phoneNumber[]"]').mask('+00(000) 000-00-00', {
                placeholder: '+__(___) ___-__-__',
                clearIfNotMatch: true
            });
        });
    });
</script>

