<!DOCTYPE html>
<html layout:decorator="layouts/main"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="#{address.list.title}"></title>
</head>

<div layout:fragment="content">
    <div class="row">
        <div class="pull-right">
            <a class="btn btn-primary" th:href="@{/address/create}" th:text="#{button.create}">Create New</a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th th:text="#{person.fullName}">Full Name</th>
            <th th:text="#{person.email}">Email</th>
            <th th:text="#{address.street1}">Street1</th>
            <th th:text="#{address.street2}">Street2</th>
            <th th:text="#{person.companyName}">Company Name</th>
            <th th:text="#{address.postalCode}">Postal Code</th>
            <th th:text="#{country.name}">Country Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="address : ${addresses}">
            <td><a th:href="@{/address/view/} + ${address.id}" th:text="${address.id}">1</a></td>
            <td th:text="${address.person.fullName}">Full Name</td>
            <td th:text="${address.person.email}">fakeemail@google.com</td>
            <td th:text="${address.street1}">Street1</td>
            <td th:text="${address.street2}">Street2</td>
            <td th:text="${address.person.companyName}">Fake Company</td>
            <td th:text="${address.postalCode}">000-000</td>
            <td th:text="${address.country != null ? address.country.name : ''}">Fake country</td>
        </tr>
        </tbody>
    </table>
</div>
</html>

