<!DOCTYPE html>
<html layout:decorator="layouts/main"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="#{address.view.title}"></title>
</head>

<div layout:fragment="content">
    <div class="row">
        <div class="pull-right">
            <a class="btn btn-primary" th:href="@{/address/edit/} + ${address.id}" th:text="#{button.edit}">Edit</a>
        </div>
    </div>

    <div th:include="address/form" th:with="readOnly=${true}"></div>
</div>
</html>