<!DOCTYPE html>
<html layout:decorator="layouts/main"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="#{address.view.title}"></title>
</head>

<div layout:fragment="content">

    <div class="alert alert-danger alert-dismissible" role="alert" th:if="${error}">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <p th:text="${error}"></p>
    </div>

    <div class="row">
        <div class="pull-right">
            <a class="btn btn-primary" th:href="@{/address/list}" th:text="#{button.close}">Close</a>
            <a class="btn btn-primary" th:href="@{/address/edit/} + ${address.id}" th:text="#{button.edit}">Edit</a>
            <a class="btn btn-primary" th:href="@{/address/delete/} + ${address.id}" th:text="#{button.delete}">Delete</a>
        </div>
    </div>

    <form id="addressForm" role="form" th:object="${address}" method="post">
        <div th:include="address/form" th:with="readOnly=${true}"></div>
    </form>
</div>
</html>